# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test Python 3.8 - Ubuntu Latest

on:
  push:
    branches: 
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Show Folder Structure
      run: ls -la ./tests
    - name: Test CiscoRange
      run: |
        python -m unittest discover -s ./tests -p "test_CiscoRange.py"
    - name: Test BaseConfigParser
      run: |
        python -m unittest discover -s ./tests -p "test_BaseConfigParser.py"
    - name: Test BaseInterfaceLine
      run: |
        python -m unittest discover -s ./tests -p "test_BaseInterfaceLine.py"
    - name: Test ConfigToJson
      run: |
        python -m unittest discover -s ./tests -p "test_ConfigToJson.py"
